/*plano de fundo do index*/
.header{
  position: relative;
  background-image: url(../images/header-index.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  z-index: 0;
}

.header::before,
.header__service::before,
.header__form::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(79, 54, 36, 0.40);
  z-index: 1;
}


 .header__service{
  position: relative;
  background-image: url(../images/home__sposa.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  z-index: 0;

}



 .header__form{
  position: relative;
  background-image: url(../images/form-page.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  z-index: 0;
  margin: 0;

}

.header__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  color: #f8f3f3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__title {
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 46px;
}

.header__paragraph {
  font-family: "Montserrat";
  font-size: 14px;
  margin: 0;
}




.header__email {
  border: 0;
  width: 300px;
  height: 42px;
  color: #949494;
  text-transform: uppercase;
  padding-left: 14px;

}

.header__save {
  border: 0;
  width: 150px;
  max-width: auto;
  text-align: center;
  height: 42px;
  background-color:#A37D5A;
  color: #fff;
  cursor: pointer;
}

.header__save:hover{
    background-color:#4F3624;

}

.header__instagram{
  display: flex;
  align-items: center;
    cursor: pointer;

}

.header__instagram:hover{
  color: #A37D5A;
}

.fa-instagram{
  margin-right: 10px;
  padding: 0;

}


.header__contact{
position: relative;
  background-image: url(../images/photograph-tw.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 80vh;
  z-index: 0;

}



@media (max-width: 544px){
  .header__save{
    margin-top: 10px;
    width: 318px;

  }

  .header__paragraph {
  max-width: 319px;
  }

  .header__service{
    background-image: url(../images/debutante.jpg);
    background-position: top;
  }
}



